@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/uK_94ruUb-k-wn52Kjc.ttf) format('truetype');
}
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/co3KmW9ljjATdOrd.ttf) format('truetype');
}
